@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
	overflow: hidden;
	background-color: black;
}
.loader{
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.loader img{
	width: 60%;
}
.error{
	position: relative;
	width: 100%;
	height: 100%;
	background: rgb(18,18,18);
	background: linear-gradient(143deg, rgba(18,18,18,1) 0%, rgba(0,0,0,1) 18%, rgba(0,29,103,1) 100%);
	color: white;
	font-family: 'Roboto', sans-serif;

	display: flex;
	align-items: center;
}
.error img{
	position: absolute;
	bottom: 0;
	right: 100px
}
.txt{
	position: absolute;
	width: 60%;
	margin-left: 180px;
	z-index: 2;
}
.txt p{
	font-size: 48px;
	font-weight: bold;
}
.txt span{
	display: block;
	margin-top: 30px;
	font-size: 26px;
}

.btn{
	position: absolute;
	bottom: 30px;
	left: calc(50% - 150px);
	width: 300px;
	height: 40px;
	background-color: black;
	color: white;
	border: 1px solid #ccc;
	border-radius: 7px;
	font-size: 20px;
	transition: .3s;
	z-index: 99999;
	cursor: pointer;
}
.btn:hover{
	background-color: rgb(31, 30, 30);
	box-shadow: 0px 0px 12px rgb(255, 255, 255);

}

.pulse::after,
.pulse::before {
  content: '';
  position: absolute;
  border: 2px solid #ffffff;
  left: 0;
  opacity: 0;
  right: 0;
  top:0;
  bottom:0;
  border-radius: 7px;
  animation: pulse 3.5s linear infinite;
  z-index: 99;
}

.pulse::after {
  animation-delay: 1.25s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}

@media (max-width:768px) {
	.error{
		justify-content: center;
	}
	.error img{
		width: 40%;
		z-index: 1;
		right: 50px;
	}
	.txt{
		margin: 0;
		width: 90%;
		background-color: rgba(0, 0, 0, 0.297);
		text-align: center;

	}
	.txt p{
		font-size: 30px;
	}
	.txt span{
		font-size: 18px;
	}
	.btn{
		left: calc(50% - 111px);
		bottom: 10px;
		width: 222px;
		padding: 10px 20px;
		font-size: 16px;
	}
}